h1 {
    color:rgb(130, 138, 94);
    background-color: rgb(31, 133, 167);

}


#list a {
    color:rgb(119, 175, 133);
    text-decoration: none;


}


body {
    color:rgb(46, 22, 22);
    background-color:rgb(176, 134, 134);
    font-size: 20px;
    font-family: "Tilt Neon",Arial, Helvetica, sans-serif;
    padding: 10px;
    
}

h1 {
    font-size: 40px;

}

h2 {
    font-size: large;
}

h3 {
    font-size: medium;
}

p.popis {
    line-height: 30px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p.metadata {
    line-height: 25px;
    margin: 0px;
    
}

h1.nadpis {
    text-align: center;
}

a.odbocka {
    font-size: 40px;
    text-align: center;
    width: 399px;
}

div.informace {
    background-color: rgb(127, 198, 20);
    padding: 10px;
}

img {
    width:12%;
    /* border-radius: 0px 30px 30px 30px; */
    border:2px solid rgb(7, 52, 9)
}


img.thumbnail {
    width: auto;
    border: none;
}

a.knizka:hover {
    background-color: rgb(199, 248, 101);
    
}

a.knizka {
    flex: none;
    width: 170px;
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 7px 7px gray;
    margin: 15px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

div.knizky {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

div.popis {
    margin-top: 10px;
}

crusoe {
    height: 30%;
}

#menu {
    font-size: 75px;
    color: rgb(43, 39, 39);
    border-bottom: solid;
    align-self: center;
    
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 420px;
    height: 530px;
    border: solid black 5px;
    background-color: rgb(146, 78, 78);
    margin-top: 50px;
}
#list {
    align-self: center;
}
#list h2 {
    text-align: left;
    color: aliceblue;
    background-color: rgb(126, 77, 77);
    border: solid rgb(149, 84, 84) 2px;

}
#list h2:hover,
#list h2:focus {
    background-color: rgb(181, 121, 121);
}
#list h2:active {
    background-color: rgb(82, 44, 44);
}
#db {
    color:rgb(46, 22, 22);
    background-color:rgb(176, 134, 134);
    font-size: 20px;
    font-family: "Tilt Neon",Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}