h1 {
    color:rgb(177, 209, 31);
    background-color: rgb(31, 133, 167);

}


a {
    color:rgb(11, 183, 51);


}


body {
    color:rgb(46, 22, 22);
    background-color:rgb(156, 218, 56);
    font-size: 20px;
    font-family: "Tilt Neon",Arial, Helvetica, sans-serif;
    padding: 15%;
   
    
}

h1 {
    font-size: 40px;

}

h2 {
    font-size: large;
}

h3 {
    font-size: medium;
}

p.popis {
    line-height: 30px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p.metadata {
    line-height: 25px;
}

h1.nadpis {
    text-align: center;
}

a.odbocka {
    font-size: 40px;
    text-align: center;
}

div.informace {
    background-color: rgb(127, 198, 20);
}

img {
    width:12%;
    border-radius: 0px 30px 30px 30px;
    border:2px solid rgb(7, 52, 9)
}
img.thumbnail {
    width:15%;
}
div.odkaz {
    border:2px solid black;
}

