h1 {
    color:rgb(177, 209, 31);
    background-color: rgb(31, 133, 167);

}


a {
    color:rgb(11, 183, 51);
    background-color:rgb(218, 205, 25);

}


body {
    color:rgb(46, 22, 22);
    background-color:rgb(237, 232, 181);
}