




body {
    font-family: 'Tilt Neon', cursive;
    background-color: yellowgreen;
    font-family: 'Tilt Neon', cursive;
    margin: 10px;
    

}
a.gmail {
    color: aqua;
}

a.odkaz {
    color: yellow;
    font-family: 'Tilt Neon', cursive;
}

table.nabidka {
    font-size: 30px;
    border-spacing: 0;
    text-align: left;
    padding: 20px 120px;

}


div.tabulka {
    background-color: rgb(126, 193, 25);
}

img.reklama {
    width:30%;
    border: 3px solid rgb(2, 3, 10);
    margin:10px;

}

img.ikona {
    width:14%;
    border: 4px solid rgb(23, 42, 13);
    border-radius: 40%;
    padding: 0;
    margin: 10px;
}
td {
    border-bottom:2px solid black;
    padding: 7px;
}

.cena {
    text-align: right;
    padding-left:50px ;
}
section.inside {
    background-color:rgb(126, 193, 25);
    padding:5% 15%;
}
section.objednavka {
    background-color: yellowgreen;
    padding:5% 15%;
    margin-bottom: 5px;
}

h2.nadpis {
    margin: 5px;
}
