




body {
    font-family: 'Tilt Neon', cursive;
    background-color: yellowgreen;
    font-family: 'Tilt Neon', cursive;

}
a.gmail {
    color: aqua;
}

a.odkaz {
    color: yellow;
    font-family: 'Tilt Neon', cursive;
}

table.nabidka {
    font-size: 30px;

}


div.tabulka {
    background-color: rgb(126, 193, 25);
}

img.reklama {
    weight:360px;
    width: 360px;
}