




body {
    font-family: 'Tilt Neon', cursive;
    background-color: yellowgreen;
    font-family: 'Tilt Neon', cursive;
    margin: 10px;
    font-size: 40px;
    

}
a.gmail {
    color: aqua;
}

a.odkaz {
    color: yellow;
    font-family: 'Tilt Neon', cursive;
}

table.nabidka {
    font-size: 30px;
    border-spacing: 0;
    text-align: left;
    padding: 20px 120px;

}


div.tabulka {
    background-color: rgb(126, 193, 25);
}

img.reklama {
    width:30%;
    border: 3px solid rgb(2, 3, 10);
    margin:0px;
    float: left;
    overflow: auto;

}

img.ikona {
    width:14%;
    border: 3px solid rgb(23, 42, 13);
    border-radius: 40%;
    padding: 0;
    margin: 10px;
    float: left;
    margin: 2%;
    overflow: auto;
}
td {
    border-bottom:2px solid black;
    padding: 7px;
}

.cena {
    text-align: right;
    padding-left:50px ;
}
section.objednavka {
    background-color:rgb(126, 193, 25);
    padding:5% 15%;
}
section.body {
    background-color: yellowgreen;
    padding:5% 15%;
    margin-bottom: 5px;
}

h2.nadpis {
    margin: 5px;
}

header.hlavicka {
    background-image: url(obrazky/mysky_po_spolu.jpeg);
    font-size: 200px;
    color: yellow;
    text-align: center;
    margin: 0;
    padding: 150px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-shadow: 0  6px 10px rgba(0, 0, 0, 0.7);
    

}
