html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; } ***

body {
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(162, 11, 162);
	display: flex;
	justify-content: center;
	text-align: center;
}

h1 {
	text-align: center;
	margin-top: 5rem;
	font-weight: 600;
}
#playerboardP1 {
	display: flex;
	justify-content: center;
	text-align: center;
	border-radius: 20px 0px 0px 20px;
	background-color: white;
	/* width: 650px; */
	height: 650px;
}
#playerboardP2 {
	display: flex;
	justify-content: center;
	text-align: center;
	border-radius: 0px 20px 20px 0px;
	background-color: rgb(203, 194, 194);
	/* width: 650px; */
	height: 650px;
}

#btnResetGame {
	width: 100%;
	flex-wrap: wrap;
}

.playericon {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	color: black;
	font-size: 50px;
	margin-top: 20px;
}

.playerBoards {
	display: flex;
	flex-direction: row;
	height: 100%;
}

#scoreP1,#scoreP0 {
	margin-top: 50px;
	font-size: 100px;
}
#body2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	color: black;
	height: 100%;
}
#totalP1, #totalP0 {
	width: 100px;
	height: 70px;
	background-color: rgb(175, 112, 123);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 40px;
	border:1px solid black;
}
/* #new-game {
	margin-top: -600px;
	z-index: 0;
	font-size: 30px;
} */
/* #novakostka {
	margin-top: -100px;
	font-size: 20px;
}
#surrender {
	margin-top: -80px;
	font-size: 20px;
} */
/* #kostka {
	margin-top: -250px;
	font-size: 20px;
} */
#menuOnTop {
	width: 1300px;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 10px;
	z-index: 1;
}
#topMenu {
	background-color: rgb(100, 100, 126);
	color: rgb(0, 0, 0);
	height: 50px;
	width: 1300px;
	padding-top: 10px;
	font-size: 25px;
	font-weight: 1000;
	z-index: 1;

}
#buttons {
	position: relative;
	bottom:100px;
	z-index: 0;
}
#resetGame {
	position:relative;
	bottom:500px;
	left:450px;
	font-size: 50px;
	z-index: 0;
	width:400px;
	background-color: rgb(102, 102, 102);
	border-radius: 10px;
	border: solid rgb(73, 70, 70) 2px;
}
#resetGame:hover {
	background-color: rgb(182, 170, 170);
	border: none;
}
#kostka {
	position: relative;
	bottom:320px;
	font-size: 30px;
}
#novakostka, #surrender {
	position: relative;
	bottom: 175px;
	left:560px;
	font-size: 30px;
	width:200px;
	background-color: rgb(102, 102, 102);
	border-radius: 10px;
	border:solid rgb(73, 70, 70) 2px;
}
#novakostka:hover, #surrender:hover {
	background-color: rgb(182, 170, 170);
	border: none;
}
#novakostka {
	margin-bottom: 25px;
	font-size: 30px;
	width:250px;
	left:535px;
}
#pointsTxtP1,#pointsTxtP0 {
	position: relative;
	top: 75px;
	font-size: 15px;
}
#new {
	position: absolute;
	border-radius: 20px;
	font-size: 50px;
	height: 10%;
	top: 250px;
	z-index: 1;
	width: 300px;
	background-color: rgb(125, 125, 125);
	border-radius: 30px;
	border: solid black 5px;
	
}
#new:hover {
	background-color: rgb(73, 72, 72);
	color: rgb(48, 43, 43);
	border: none;
}
#pravidla {
	position: absolute;
	font-size: 40px;
	width: 800px;
	height: 530px;
	top: 400px;
	border:solid black 5px;
	background-color: rgb(27, 31, 71);
	padding: 10px;
}
#winner {
	position: absolute;
	font-size: 80px;
	top: 100px;
	font-weight: 700;
	background-color: rgb(80, 82, 70);
}
.button {
	cursor: pointer;
}
#menuTop {
	width: 200px;
	position: relative;
	left: 600px;
}
